.container {
    width: calc(100% - 40px);
    padding: 20px;
    position: relative;
    max-height: 100%;
}

span {
    line-height: 1.25em;
}

.panel {
    background: #fff;
    box-shadow: 0px 0px 5px #888;
    padding: 20px;
    width: calc(100% - 60px);
    float: left;
    margin: 10px;
    overflow: hidden;
    z-index: 100;
}

.small-padding {
    padding: 5px !important;
}

.hidden {
    overflow: hidden;
}

.scrolled {
    overflow-y: scroll;
    overflow-x: hidden;
}

.poptart {
    float:left;
    display: block;
    width: 100%;
    background: #fff;
    z-index: 90;
    padding: 20px;
    max-height: 250px;
    overflow-y: scroll;
}

.center {
    text-align: center;
}

.panel img {
    height: 200px;
    border-radius: 50px;
    background: #bfbfbf;
}

.caption {
    display: block;
    margin-top: 15px;
    font-family: verdana;
}

.long {
    white-space: pre-wrap;
    line-height: 1.25em;
}

.subtle {
    color: #888;
}

.no-margin {
    margin-top: 3px;
}

.xmargin {
    margin-top: 25px;
}

.badge {
    display: inline-block !important;
    border-radius: 10px;
    background: #ddd;
    width: auto;
}

.warning {
    background-color: #ffcc00
}

.red {
    background-color: #d9534f;
    color: #fff;
}

.green {
    background-color: #5cb85c;
    color: #fff;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
}

.selected {
    background-color: #d2f8d2;
}

.button {
    cursor: pointer;
    transition: opacity 0.2s;
}

.button:hover:not(.disabled) {
    opacity: 0.8
}

.right {
    float: right;
    margin-left: 20px;
}

.relative {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.option {
    position: absolute;
    display: block;
    width: 50px;
    text-align: center;
    font-size: 30px !important;
    top: 20px;
    right: 0;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    cursor: pointer;
    -webkit-transform-origin: center 55%;
            transform-origin: center 55%;
}

.inline {
    display: inline-block !important;
}

.indent {
    margin-left: 10px !important;
}

.more {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}

.less {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}
