menu {
    display: block;
    position:absolute;
    top: 70px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 1;
    padding: 0px !important;
    margin: 0px;
    text-align: center;
}

.menu-container{
  position:relative;
  text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  width:100%;
  overflow: hidden;
}
.menu {
    display: inline-block;
  text-align: center;
  position:relative;
  list-style-type: none;
  padding:0 !important;
  margin:0 !important;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.menu li {
    position: relative;
  margin: 10px;
  display: block;
  padding:10px;
  cursor:pointer;
  transition: all 0.5s;
  font-size: 14px;
  float: left;
  height: 125px;
  width: 125px;
  color: #333;
  opacity: 1;
  border-radius: 15px;
  background-color: #eee;
}

.menu li i {
    display: block;
    font-size: 60px;
    position: relative;
    text-align: center;
    width: 100%;
    float: left;
    margin: 10px 0px;
}

.menu li span {
    font-family: verdana;
    font-size: 16px;
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
    float: left;
}
.menu li:hover{
    color: #eee;
    background-color: #333;
}
#logout {
}
#logout:hover{
}
.back{
  position:absolute;
  top:0;
  left:0;
  margin:30px;
  border:3px solid black !important;
  height:50px !important;
  z-index:1000;
  opacity: 1 !important;
}
